# CMake & Build folders
build/
out/
bin/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.ninja

# Qt / OS / IDE files
*.user
.vscode/
.idea/
.DS_Store

# Executables
*.exe
*.out
AlgoTrackCli
AlgoTrackQt